<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


    <div class="card mb-4 py-md-3 border-right-0 text-center">
        <h1 class="h3 mb-0 text-gray-800">Cuentas por cobrar</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-toggle="pill" href="#home" role="tab">Cuentas abiertas</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-toggle="pill" href="#history" role="tab">Histórico</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel">
                            <div id="dataTable_filter" class="dataTables_filter">
                                <label>
                                    Buscar:
                                    <input type="search" id="Search" onkeyup="SearchTable()" class="form-control form-control-sm">
                                </label>
                            </div>
                            <h5 class="text-secondary text-center mb-4">Cuentas abiertas</h5>
                            <div class="col-sm-12" id="Contenedor">
                                @{Html.RenderPartial("ListaCreditos");}
                            </div>
                        </div>

                        <div class="tab-pane fade" id="history" role="tabpanel">
                            <div id="dataTable_filter" class="dataTables_filter">
                                <label>
                                    Buscar:
                                    <input type="search" id="Search2" onkeyup="SearchTable2()" class="form-control form-control-sm">
                                </label>
                            </div>
                            <h5 class="text-secondary text-center mb-4">Histórico</h5>
                            <div class="col-sm-12" id="Contenedor">
                                @{Html.RenderPartial("ListaHistoricoCreditos");}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
   // var creditos = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.AllCreditos));

    //buscar categoria...............................................................
    function SearchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("Search");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    //buscar historico...............................................................
    function SearchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("Search2");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTable2");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

     function Prefacturar(idVenta) {

             let data = {
            id: idVenta
        }


        $.ajax({
            type: "POST",
            url: "../Home/PrefacturarCredito",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response==1) {
                     alert('Prefactura impresa con éxito');
                //location.reload();
                }
                else {
                //     alert('Orden no tiene ventas, se a cerrado automaticamente');
                //location.reload();
                }

            },
            error: function (request) {
                alert(request.responseText);
            }
        });
        }


</script>

<div class="modal fade" id="ModalHistoricoCredito" tabindex="-1" role="dialog" data-backdrop="true" data-keyboard="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="fa-2x">Histórico de pagos</span></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered dataTable w-100" cellspacing="0" role="grid"></table>
            </div>
        </div>
    </div>
</div>






<div class="modal fade" id="ModalPagarCredito" tabindex="-1" role="dialog" data-backdrop="true" data-keyboard="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="fa-2x">Pagar crédito</span></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{Html.RenderPartial("PagarCredito");}
            </div>
        </div>
    </div>
</div>
