

<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


<div class="card mb-4 py-md-3 border-right-0 text-center">
    <h1 class="h3 mb-0 text-gray-800">Modo de Pago</h1>

</div>





<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"> <input type="button" class="btn btn-info right" name="name" value="Crear" data-toggle="modal" data-target="#NuevoModoPago" /></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="dataTable_length">
                        </div>
                    </div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Buscar:<input type="search" id="Search" onkeyup="SearchTable()" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div>
                </div><div class="row">
                    <div class="col-sm-12" id="Contenedor">

                        @{Html.RenderPartial("ListaModoPago", ViewData["ListaModoPago"] as IEnumerable<barApp.Categoria>);}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@*Modal Crear Categoria....................................................................*@

<div class="modal fade" id="NuevoModoPago" tabindex="-1" role="dialog" aria-labelledby="Cuadre" aria-hidden="true" data-backdrop="true" data-keyboard="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><span class="fa-2x">Crear Modo de Pago</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @{Html.RenderPartial("CrearModoPago");}

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guarda</button>
                </div>*@
        </div>
    </div>
</div>

@*Modal Editar Categoria....................................................................*@

<div class="modal fade" id="ModalEditarModoPago" tabindex="-1" role="dialog" aria-labelledby="ModalEditarModoPago" aria-hidden="true" data-backdrop="true" data-keyboard="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><span class="fa-2x">Editar Modo de Pago</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @{Html.RenderPartial("EditarModoPago");}

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guarda</button>
                </div>*@
        </div>
    </div>
</div>



<script>

    //buscar categoria...............................................................
    function SearchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("Search");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    //editar Categoria.............................................................
    function myfunction() {
        var Id

        var ModoPago = {}


        $("#dataTable tr").click(function () {
            ModoPago.numPago = $(this).find("td:first").text().trim();
            if (Id) {

            }
            else {

                $.ajax({
                    type: "POST",
                    url: "../Home/BuscarEditarModoPago",
                    data: JSON.stringify(ModoPago),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        if (response != null) {
                            //var date = new Date(Number(response.Fecha.replace(/\D/g, '')));

                            $('#numPagoModoPagoE').val(response.numPago);
                            $('#nombreModoPagoE').val(response.nombre);
                            $('#otroDetallesModoPagoE').val(response.otroDetalles);

                            //$('#ModalEditarCategoria').modal("show");
                            //$('#Cantidad_').val(response.Cantidad);
                            //$('#SegundaMagnitud _').val(response.SegundaMagnitud);
                        } else {
                            alert("Something went wrong");
                        }



                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            }



        });



    };




</script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>*@

