
<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


<div class="card mb-4 py-md-3 border-right-0 text-center">
    <h1 class="h3 mb-0 text-gray-800">Producto</h1>

</div>



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"> <input type="button" class="btn btn-info right" name="name" value="Crear" data-toggle="modal" data-target="#NuevoProducto" onclick="crearTiCK()" /></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="dataTable_length">
                        </div>
                    </div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Buscar:<input type="search" id="Search" onkeyup="SearchTable()" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div>
                </div><div class="row">
                    <div class="col-sm-12" id="Contenedor">

                        @{Html.RenderPartial("ListaProducto", ViewData["ListaProducto"] as IEnumerable<barApp.Producto>);}

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


@*Modal Crear Categoria....................................................................*@

<div class="modal fade" id="NuevoProducto" tabindex="-1" role="dialog" aria-labelledby="Cuadre" aria-hidden="true" data-backdrop="true" data-keyboard="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><span class="fa-2x">Crear Producto</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @{Html.RenderPartial("CrearProducto", ViewData["TipoCategoria"] as IEnumerable<String>);}

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guarda</button>
                </div>*@
        </div>
    </div>
</div>

@*Modal Editar Categoria....................................................................*@

<div class="modal fade" id="ModalEditarProducto" tabindex="-1" role="dialog" aria-labelledby="ModalEditarProducto" aria-hidden="true" data-backdrop="true" data-keyboard="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><span class="fa-2x">Editar Producto</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @{Html.RenderPartial("EditarProducto");}

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Guarda</button>
                </div>*@
        </div>
    </div>
</div>



<script>

    //buscar categoria...............................................................
    function SearchTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("Search");
        filter = input.value.toUpperCase();
        table = document.getElementById("dataTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    //editar Categoria.............................................................
    function myfunction() {
        var Id

        var Producto = {}


        $("#dataTable tr").click(function () {
            Producto.idProducto = $(this).find("td:first").text().trim();
            if (Id) {

            }
            else {

                $.ajax({
                    type: "POST",
                    url: "../Home/BuscarEditarProducto",
                    data: JSON.stringify(Producto),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        if (response != null) {

                           
                            //var date = new Date(Number(response.Fecha.replace(/\D/g, '')));
                       
                            $('#idProducto').val(response.idProducto);
                            $('#NombreE').val(response.nombre);
                            $('#precioVentaE').val(response.precioVenta);
                           // $('#precioFiestaE').val(0);                    
                            $('#precioAlmacenE').val(response.precioAlmacen);
                            $('#idCategoriaE').val(response.idCategoria);
                            $("#activoE").prop("checked",response.activo);
                     
                            //$('#ModalEditarCategoria').modal("show");
                            //$('#Cantidad_').val(response.Cantidad);
                            //$('#SegundaMagnitud _').val(response.SegundaMagnitud);
                        } else {
                            alert("Something went wrong");
                        }



                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            }



        });



    };

    

    function crearTiCK() {


        var yourDate = new Date();  // for example

        // the number of .net ticks at the unix epoch
        var epochTicks = 621355968000000000;

        // there are 10000 .net ticks per millisecond
        var ticksPerMillisecond = 10000;

        // calculate the total number of .net ticks for your date
        var yourTicks = epochTicks + (yourDate.getTime() * ticksPerMillisecond);

        $('#CodigoC').val(yourTicks.toString())

   

    }



</script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>*@

